h1 {
  background-color: rebeccapurple;
  color: white;
  padding: 8px;
}

.new-note-form {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form label {
  display: flex;
  flex-direction: column;
}