<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
    <form action="/passwords/">
      <label>
        Number of passwords
        <input type="number" name="count" value="2">
      </label>
      <label>
        Length of passwords
        <input type="number" name="length" value="12">
      </label>
      <button>Generate</button>
    </form>
  </main>
</body>
</html>