{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'core/index.css' %}">
</head>
<body>
  <header>
    <h1>Notes</h1>
  </header>
  <main>
    <form action="/notes/" method="post">
      <label>
        Title
        <input type="text" name="title">
      </label>
      <label>
        Content
        <textarea name="content"></textarea>
      </label>
      <button>Save</button>
    </form>
    <div>
      {% for note in notes %}
        <div class="note">
          <h4><a href="/notes/{{note.id}}/">{{note.title}}</a></h4>
          <p>{{note.content}}</p>
        </div>
      {% endfor %}
    </div>
  </main>

</body>
</html>